<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
    
        
        <form method="POST" action="create.php ">


    <div class="form-horizontal">
        <h4> Crear Cliente</h4>
        <hr />
        
        <div class="form-group">
            <label>Nombre</label>
            <div class="col-md-10">
                <input type="text" name="nombre">
               <!-- @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" }) --->
            </div>
        </div>

        <br>
        
        <div class="form-group">
            <label>Apellido</label>
            <div class="col-md-10">
                <input type="text" name='apellido'>
             
                <!--
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                
                @if (ViewBag.CedulaDuplicada)
                {
                    @Html.ValidationMessage("Cedula","La cedula que acaba de ingresar esta duplicada",new { @class = "text-danger" })
                }
                    -->
            </div>
        </div>

         <br>
        
         <div class="form-group">
            
            
             <label>Cedula</label>
             <!--@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })-->
            <div class="col-md-10">
                <input type="text" name="cedula">
                
                <!--
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                
                @if (ViewBag.CedulaDuplicada)
                {
                    @Html.ValidationMessage("Cedula","La cedula que acaba de ingresar esta duplicada",new { @class = "text-danger" })
                }
                -->

            </div>
            
        </div>
        
        <div>
        
            <br>
            
          <label>Direccion</label>
             <!--@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })-->
            <div class="col-md-10">
                <input type="text" name="direccion">
                
                <!--
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                
                @if (ViewBag.CedulaDuplicada)
                {
                    @Html.ValidationMessage("Cedula","La cedula que acaba de ingresar esta duplicada",new { @class = "text-danger" })
                }
                -->

            </div>
            
        </div>
            
            
            </div>
            <br>
            
            
             <div class="form-group">
            <label>Email</label>
            <div class="col-md-10">
                <input type="text" name="email">
             
                <!--
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                
                @if (ViewBag.CedulaDuplicada)
                {
                    @Html.ValidationMessage("Cedula","La cedula que acaba de ingresar esta duplicada",new { @class = "text-danger" })
                }
                    -->
            </div>
        </div>
            
            
                 <div class="form-group">
            <label>Telefono</label>
            <div class="col-md-10">
                <input type="text" name="telefono">
             
                <!--
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                
                @if (ViewBag.CedulaDuplicada)
                {
                    @Html.ValidationMessage("Cedula","La cedula que acaba de ingresar esta duplicada",new { @class = "text-danger" })
                }
                    -->
            </div>
        </div>
          
            <br/>
        
            <div>
          <label>Sexo</label>
             <!--@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })-->
            <div class="col-md-10">
                <label>Masculino</label>
                <input type="radio" name="sexo" value="masculino" checked>
                <br/>
                <label>Femenino</label>
                <input type="radio" name="sexo" value="femenino">
                
                <!--
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                
                @if (ViewBag.CedulaDuplicada)
                {
                    @Html.ValidationMessage("Cedula","La cedula que acaba de ingresar esta duplicada",new { @class = "text-danger" })
                }
                -->

            </div>
            
        </div>
        
        
        <br>
        <div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    
    <br>
    <br>
<div>
    <a href="index.html">Volver a la lista</a>
    
</div>
 </form>

    </body>
</html>

